.cartitem {
    margin: 100px 170px;
}

.main hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
    width: 80%;
    margin: 20px;
}



.main {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    padding: 15px 20px;
    font-size: 15px;
    color: gray;
    font-weight: 600;
    margin: 10px;
}

.format {
    font-size: 17px;
    font-weight: 600;
}

.product-icon {
    height: 50px;
}

.remove {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
    border-radius: 5px;
}

.cart-down {
    display: flex;
    margin: 100px 0px;
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;

}

.cart-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cart-total button {
    width: 252px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.promocode p {
    color: #555;
}

.promo {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
    border-radius: 5px;
}

.promo input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;

}

.promo button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

@media(max-width:1280px) {
    .cartitem {
        margin: 60px 50px;
    }

    .main {
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 20px;
        font-size: 15px;
    }

    .product-icon {
        height: 50px;
    }

    .remove {
        margin: auto;
    }

    .quantity {
        width: 40px;
        height: 30px;
    }

    .cart-down {
        flex-direction: column-reverse;
        margin: 80px 0px;
        gap: 80px;
    }

    .cart-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }

    .promo {
        width: auto;
        max-width: 500px;
    }

    .promo input {
        width: 100%;
    }

    .promo button {
        width: 120px;
        margin-left: -125px;
    }

}

@media(max-width:500px) {
    .main {
        display: none;
    }

    .format {
        display: grid;
    }

    .product-icon {
        height: 50px;
    }
}